body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: ;
    font-display: ;
    font-weight: bold;
    background-color: #efd4ef;
    margin: 0;
}
span{
    color: rebeccapurple;
}

h1{
    font-size: 40px;
    font-style: normal;
    padding-top: ;
}
.fexible{
    display: flex;
}
.toltu{
    width: 50%;
    padding-left: 3%;
}
.toltu img{
    width: 80%;
    font-size: ;
    height: ;
    padding-top: 8%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    font-weight: bold;
    color: #efd4ef;
    padding: 10px 40px;
    
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 10%;
}
.dila{
    background-image: url();
    background-repeat: no-repeat;
    
}
.dila h1{
    padding-top: 40%;
}
.dala h1{
    padding-top: 40%;
    padding-right: 20%;
}
.dala{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 0%;
    
}
.malta{
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    padding-left: 15px;
    box-shadow: 10px 10px 40px blue;
}
.malta h2{
    color: red;
}
.malta h3{
    color: rgba(14, 171, 211, 0.878);
}
.dong{
    text-align: center;
}
#non{
    border-left: greenyellow solid 5px;

}
#son{
    border-left: 5px solid tomato;
}
footer p{
    text-align: center;
    padding-bottom: 3%;
    padding-top: 10%;
}
